<% include layout/header.ejs %>
<div class="cabinet">
  <% include layout/nav_cabinet.ejs %>
  <p>
    THIS IS PERSONAL ADMIN CABINET!
    CHOOSE THE ACTION!
  </p>
</div>
<% include layout/footer.ejs %>
