<% include ../layout/header.ejs %>
<nav>
  <div class="container">
    <div class="nav__cabinet col-12">
      <ul class="nav__cabinet_menu">
        <li class="nav__cabinet_item col-3"><a href="/cabinet/settings">Settings</a></li>
        <li class="nav__cabinet_item col-3 active"><a href="/cabinet/add_recipe">Add Recipe</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/my_recipes">My Recipes</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/favourite">Favourite</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="container">
    <div class="addRecipeForm">
        <form class="addRecipe" method="post" id="addRecipe__form" enctype="multipart/form-data">
          <div class="msg"></div>
          <input type="text" id="add-recipe__title" placeholder="Type name of recipe">
          <textarea type="text" id="add-recipe__ingredients" placeholder="Type all ingredients"></textarea>
          <textarea id="add-recipe__fullRecipe" placeholder="Type full cooking process"></textarea>
          <input type="file" id="add-recipe__photo" name="add-recipe__photo">
          <button type="button" class="add-recipe__button" id="add-recipe__button">Send</button>
        </form>
        <!-- <form action="post" id="addRecipe__photo_form" enctype="multipart/form-data">
          <input type="file" id="add-recipe__photo" name="add-recipe__photo">
          <button id="add-recipe__upload-photo">Upload</button>
        </form> -->
  </div>
</main>
<% include ../layout/footer.ejs %>
