<div class="authForms">
  <div class="authForm__signIn authForm">
    <form class="signIn" method="post">
      <div class="msg"></div>
      <input type="text" id="signIn-login" placeholder="Type login">
      <input type="password" id="signIn-password" placeholder="Type password">
      <button type="button" class="authForm__button" id="signIn-In">Sign in</button>
    </form>
  </div>

  <div class="authForm__signUp authForm">
    <form class="signUp" method="post">
      <div class="msg"></div>
      <input type="text" id="signUp-login" placeholder="Type login" name='signUp-login'>
      <input type="password" placeholder="Type password" id="signUp-password" name='signUp-password'>
      <input type="password" id="signUp-confirm_password" placeholder="Repeat password" name='signUp-passwordConfirm'>
      <button type="button" class="authForm__button" id="signUp-Up">Sign up</button>
    </form>
  </div>
</div>
