<div class="cabinet__menu">
  <%= user.login %>
  <ul class="menu">
    <% if (user.role == "admin") { %>
      <li class="menu__item"><a href="/cabinet">Personal cabinet</a></li>
      <li class="menu__item"><a href="/cabinetAdmin">Admin cabinet</a></li>
      <li class="menu__item"><a href="/api/auth/logout">Log out</a></li>
    <% } else { %>
      <li class="menu__item"><a href="/cabinet">Personal cabinet</a></li>
      <li class="menu__item"><a href="/api/auth/logout">Log out</a></li>
    <% } %>
  </ul>
</div>
