<footer class="clearfix">
  <div class="container">
    <div class="social-group col-6">
      <a href="#"><div class="social-icon icon-facebook"></div></a>
      <a href="https://www.youtube.com/channel/UCCvc9io8WkSFv9tfBgZNXVw"><div class="social-icon icon-youtube"></div></a>
      <a href="#"><div class="social-icon icon-insta"></div></a>
    </div>
    <div class="copyright col-6">
      <p>©Copyright 2018</p>
    </div>
  </div>
</footer>
<script src="/jquery/jquery.js"></script>
<script src="/javascripts/scripts.js" charset="utf-8"></script>
</body>
</html>
