<nav>
  <div class="container">
    <div class="nav__item col-5">
      <ul class="nav__categories">
        <li>Choose category</li>
        <li><img src="/images/arrow-down.png" alt="" class="nav__categories_arrow-down"></li>
      </ul>
    </div>
    <div class="nav__item col-7">
      <ul class="search__items clearfix">
        <li><input type="text" placeholder="Find a recipe" class="search-form"></li>
        <li><a href="#"><img src="/images/search.png" alt="search-icon" class="search-icon"></a></li>
      </ul>
    </div>
  </div>
</nav>
