<nav>
  <div class="container">
    <div class="nav__cabinet col-12">
      <ul class="nav__cabinet_menu">
        <li class="nav__cabinet_item col-3"><a href="/cabinet/settings">Settings</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/add_recipe">Add Recipe</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/my_recipes">My Recipes</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/favourite">Favourite</a></li>
      </ul>
    </div>
  </div>
</nav>
