<nav>
  <div class="container">
    <div class="nav__cabinet col-12">
      <ul class="nav__cabinet_menu">
        <li class="nav__cabinet_item col-3"><a href="/cabinetAdmin/new_recipes">New recipes</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/add_recipe">Nothing</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/my_recipes">Nothing</a></li>
        <li class="nav__cabinet_item col-3"><a href="/cabinet/favourite">Nothing</a></li>
      </ul>
    </div>
  </div>
</nav>
